<div class="row">
  <div class="col-md-4">
    <h2>Begin the Scavenger Hunt!</h2>
    <p>Once you begin, the timer will start counting down and you will have 3 hours to solve as many clues as you can. Have fun! Be fabulous!</p>
    <p><a class="js_beginHunt btn btn-default" href="/challenges/home" role="button">Begin &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>container</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>container</p>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>