<div class="row">
  <div class="col-md-4">
    <p>Challenge Photo</p>
    {{!-- Display video via ajax after successful submission --}}
    <p>Challenge Video</p>
  </div>
  <div class="col-md-4">
    <p>Challenge Clue</p>
    <p>Challenge Submit Form for Answers</p>
  </div>
  <div class="col-md-4">
    <p>timer placeholder</p>
    {{!-- Display successful submission notice and button to go to next challenge --}}
    <p>Notice for successful submission.</p>
    <p>Button to go to next challenge</p>
  </div>
</div>